*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: rgb(31, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 3rem;
    font-family: monospace;
    color: rgb(12, 237, 12);
}
